// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

/*** GENERAL ***/
body {
  font-family: "freight-sans-pro" , Tahoma, Verdana, sans-serif;
}

a:hover {
  text-decoration: none;
}

/*** HEADER ***/
.navbar.container {
  margin-top: 8px;
}

/*** BRANDING AREA ***/
.navbar-header {

  // Position the navigation region in the top right corner
  @media (min-width: @grid-float-breakpoint) {
    float: none;
    position: relative;
    .region-navigation {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  // Place logo in the center
  text-align: center;
  .logo {
    padding: 0;
  }

  // Make the logo image responsive
  .logo img {
    max-width: 90%;
  }
}
