// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Custom style for editing nodes
@import 'editor.less';

/*** LAYOUT ***/
.top.container {
  height: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 25px rgba(225, 225, 225, 1);
  padding: 0;
  .navbar.container {
    max-width: none !important;
  }
}


/*** HEADER ***/
.navbar.container {
  margin-top: 14px;
}


/*** BRANDING AREA ***/
.navbar-header {

  // Position the navigation region in the top right corner
  @media (min-width: @grid-float-breakpoint) {
    float: none;
    position: relative;
    .region-navigation {
      position: absolute;
      top: 0;
      right: @grid-gutter-width / 2;
    }
  }

  // Place logo in the center
  text-align: center;
  .logo {
    padding: 0;
  }

  // Make the logo image responsive
  .logo img {
    max-width: 90%;
  }
}


/*** LANGUAGE SWITCHER BLOCK ***/
#block-locale-language ul {
  .horizontal-menu(.5em);
  margin-right: .5em;

  // Font style
  font-size: @font-size-small;
  text-transform: uppercase;

  // Style the selected link as a pill
  li {
    line-height: 2em;
    &.active {
      background: #a7adb3;
      border-radius: @border-radius-small;
      a {
        color: white;
      }
    }
  }
}


/*** MAIN NAVIGATION ***/
// Fix spacing and borders
.navbar-default {
  padding: 0;
  .navbar-collapse {
    margin-top: 25px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
}

// Font style & colours
.navbar-collapse {
  font-family: "adobe-garamond-pro", georgia, serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .09em;
  li.active,
  li:hover {
    .box-shadow(inset 0 0 3px 1px rgba(0, 0, 0, .1));
    background: #edeef0;
    a {
      background: transparent !important;
    }
  }
}


/*** PAGE HEADER ***/
.page-header {
  margin: 1em 0;
  border: none;
  padding: 0;
  line-height: 1.2em;
  font-size: 1.8em;
  color: #777777;
  text-transform: uppercase;
}


/*** BLOCK TITLE ***/
.block-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #777777;
}


/*** PAGINATION ***/
.pagination {
  margin: 0;
}


/*** MAIN PAGE CONTENT ***/
#block-system-main {
  margin-bottom: 3 * @padding-large-vertical;
}


/*** FRONT PAGE ***/
.front {
  .page-header,
  .view-front-banner header {
    display: none;
  }

  .main-container > {
    // Fix some wired space caused by: .container:before {content:" "; display: table;}
    margin-top: -1px;

    .row > section {
      padding: 0;
    }
  }
}


/*** BANNER ***/
.node-banner {
  // Style the text
  .field-name-title-field,
  .field-name-field-title2 {
    font-family: @font-family-serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 0px #000;
    background: rgba(0, 0, 0, 0.6);
    color: #f5f5f5;
    a {
      color: #f5f5f5;
    }
  }

  // Position the text at the bottom
  position: relative;
  .field-name-title-field,
  .field-name-field-title2 {
    position: absolute;
  }
  .field-name-title-field {
    bottom: 32px;

    padding: 17px 0 4px;
    font-size: 21px;
    line-height: 1;
  }
  .field-name-field-title2 {
    bottom: 0;
    height: 32px;

    padding-bottom: 18px;
    font-size: 14px;
    line-height: 1;
  }
}


/*** EXHIBITIONS ***/
.view-exhibitions {
  .views-field-field-location {
    margin: .25em 0 .5em 0;
    line-height: 1.3em;
    font-size: 1.4em;
    font-family: @font-family-serif;
    font-style: italic;
  }
  .views-field-field-image img {
    .white-border();
  }
  .views-field-title {
    margin: .6em 0 .3em;
    font-size: 1.3em;
    text-transform: uppercase;
  }
  .views-field-field-opening-dates {
    margin-bottom: 2 * @padding-large-vertical;
    font-family: @font-family-serif;
    font-size: 13px;
    text-transform: uppercase;
  }
}

// Current Exhibition
.view-exhibitions.view-display-id-page_1 {
  max-width: 500px;
}

// Past Exhibitions
#block-views-exhibitions-block-1 {
  padding-top: @grid-gutter-width / 4;
  border-top: 1px solid #e5e5e5;

  // Set background color to stretch
  margin-left: -@grid-gutter-width / 2;
  padding-left: @grid-gutter-width / 2;
  margin-right: -@grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;
  background: #f5f5f5;

  .block-title {
    margin: 0 0 2 * @padding-large-vertical;
    font-size: 1.5em;
    line-height: 1;
  }
  .views-row {
    overflow: hidden;
    min-height: 100px;
    padding: @padding-large-vertical 0;
    border-bottom: 1px solid #e9e9e9;
    &:last-child {
      border-bottom: none;
    }
  }
  .views-field-field-image {
    float: left;
    width: 100px;
  }
  .views-field-title,
  .views-field-field-opening-dates,
  .views-field-view-node {
    margin: 0 0 0 100px + @grid-gutter-width / 2;
  }
}


/*** SINGLE EXHIBITION ***/
.node-type-exhibition:not(.page-node-edit) {
  // Make two columns: photos on the left and text on the right
  @media (min-width: @grid-float-breakpoint) {
    #block-views-bd324f5c536d295941973cd52bb55e07 {
      width: 360px;
      float: left;
    }
  }

  // Style the opening dates / times fields
  .field-name-field-opening-dates,
  .field-name-field-opening-times {
    overflow: hidden;
    margin-top: .5em;
    line-height: 1;
    font-family: @font-family-serif;
    font-size: 13px;
    text-transform: uppercase;
    .field-label {
      font-weight: normal;
    }
  }

  // Style the body field
  .field-name-body {
    margin-top: 1.4em;
  }
}


/*** EXHIBITION / COLLECTION PHOTO LISTING ***/
.view-collection-or-exhibition-photos {
  .views-row {
    display: inline-block;
    margin: 0 @padding-base-horizontal @padding-base-horizontal 0;
  }
  img {
    .white-border();
  }
}


/*** PHOTOGRAPHERS ***/
// Make two columns for the two views
.page-photographers {
  .region-content {
    .make-row();
  }
  #block-system-main {
    .make-sm-column(5);
  }
  #block-views-master-photos-block {
    .make-sm-column(7);
  }
}

// The list of photographers
.view-photographers {
  font-family: @font-family-serif;
  font-size: 16px;
  text-transform: uppercase;

  // Reset table style
  .table-responsive {
    border: none;
  }
  .table > tbody > tr {
    background: transparent;
    > td {
      padding: 0;
      border: none;
    }
  }
}

// The master photos carousel
#block-views-master-photos-block {
  line-height: 1.1em;

  .carousel {
    .carousel-fade-transition();
    .item {
      height: 650px;
    }
  }
  .views-field-field-image {
    padding: 5px;
    img {
      .white-border();
    }
    margin-bottom: @padding-large-vertical;
  }
  .views-field-field-photographer {
    margin-bottom: @padding-small-vertical;
    font-family: @font-family-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
}


/*** SINGLE PHOTOGRAPHER ***/
.node-type-photographer:not(.page-node-edit) {
  // Place the Exhibitions and Selected Works blocks on the right
  .region-content {
    .make-row(30px);
  }
  #block-system-main {
    .make-sm-column(7, 30px);
    .make-md-column(8, 30px);
  }
  #block-views-151e464570e28742ad939fe41538e9b4,
  #block-views-879b9c8de1955b3b96a33ec4546f59c3 {
    .make-sm-column(5, 30px);
    .make-md-column(4, 30px);
  }
  #block-views-879b9c8de1955b3b96a33ec4546f59c3 {
    @media (min-width: @grid-float-breakpoint) {
      float: right;
    }
  }

  // Separate blocks with a border
  #block-views-879b9c8de1955b3b96a33ec4546f59c3 {
    margin-top: 25px;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
  }

  .block-title {
    margin-top: 0;
  }

  // Float photographer's portrait to the left
  .field-name-field-portrait {
    float: left;
    margin-right: 2 * @padding-base-horizontal;
    margin-bottom: @padding-small-horizontal;
  }

  .field-name-field-portrait,
  .views-field-field-image {
    img {
      .white-border();
    }
  }

  // Exhibitions and Selected Works: float images to the left
  .views-row {
    .clearfix();
    .views-field-field-image {
      float: left;
      margin-right: @padding-small-horizontal;
    }
  }

  // Exhibitions and Selected Works: style titles and dates
  .views-row {
    margin-bottom: 1.5 * @padding-large-vertical;
    .views-field-title-field {
      line-height: 1.3em;
      font-size: 13px;
      font-family: @font-family-serif;
      text-transform: uppercase;
    }
    .views-field-field-opening-dates {
      margin-top: 5px;
      font-size: 15px;
      line-height: 1.4em;
    }
  }
}


/*** SINGLE PHOTO ***/
.node-photo {
  // Stye Photographer name and years
  .field-name-field-photographer {
    .contextual-links-wrapper {
      display: none !important;
    }

    header a, // Photographer name
    .field-name-field-dates {
      line-height: 27px;
      font-size: 22px;
      font-family: @font-family-serif;
      text-transform: uppercase;
      color: #777;
      font-weight: normal;
    }
    header {
      h2 {
        margin: 0;
        line-height: 1;
      }
      a {
        pointer-events: none;
        cursor: default;
      }
    }
    .field-name-field-dates .field-item {
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
  }

  // Style photo title
  > header {
    display: none;
  }
  .field-name-title-field > div {
    margin-top: @padding-small-vertical;
    border-bottom: 1px solid #cfc9be;
    padding-bottom: 20px;
    line-height: 1;
    font-family: @font-family-serif;
    font-size: 18px;
    color: @text-color;
  }

  // Style the other fields
  .field {
    margin-bottom: 1em;
    &.field-name-field-photographer,
    &.field-name-field-photographer .field,
    &.field-name-title-field {
      margin-bottom: 0;
    }
  }

  // Style photo image
  .field-name-field-image {
    padding-top: 5px;
    img {
      .white-border();
      max-width: 100%;
    }
  }

  // Style contact link
  .contact {
    font-size: 16px;
    .glyphicon {
      top: 2px;
    }
  }

  // Place text fields to the left and image field to the right
  @media (min-width: @grid-float-breakpoint) {
    position: relative;
    min-height: 550px;
    .field {
      width: 310px;
      &.field-name-field-image {
        width: auto;
      }
    }
    .field-name-field-image {
      position: absolute;
      margin-left: 340px;
      top: 0;
      left: 0;
    }
    .contact {
      position: absolute;
      bottom: 47px;
    }
  }
}


/*** COLORBOX ***/
#colorbox {
  #cboxWrapper {
    border-radius: 0;
  }

  // Move control buttons to the top
  #cboxLoadedContent {
    margin-top: 50px;
    margin-bottom: 0;
  }
  #cboxPrevious,
  #cboxNext,
  #cboxCurrent,
  #cboxClose {
    top: 7px;
  }

  // Add left padding
  #cboxLoadedContent {
    padding: 0 2 * @padding-small-horizontal;
  }
  #cboxPrevious {
    left: 2 * @padding-small-horizontal;
  }
  #cboxNext {
    left: 27px + 2 * @padding-small-horizontal;
  }
  #cboxCurrent {
    left: 60px + 2 * @padding-small-horizontal;
  }
}


/*** GALLERIES PAGE ***/
.page-node-11553 {
  #block-block-2 {
    // Style the block with the images
    margin-bottom: 1em;
    margin-right: 2 * @padding-large-horizontal;
    img {
      .white-border();
      margin-bottom: @padding-base-vertical;
      max-width: 100%;
      height: auto;
    }

    // Place the block with the images on the left
    max-width: 325px;
    @media (min-width: @screen-xs) {
      width: 50%;
      float: left;
    }
  }
}


/*** CONTACT PAGE ***/
.page-node-11554 {
  .page-header {
    display: none;
  }
  h2 {
    margin: 30px 0 7px;
    text-transform: uppercase;
    font-size: 21px;
    color: #777;
  }

  // Position the two blocks in two columns
  .field-name-body .field-item {
    .make-row(30px);
  }
  .address-block {
    .make-sm-column(6, 30px);
  }
}


/*** PRESS PAGE ***/
.view-press {
  margin-top: -8px;
  h3 {
    font-size: 21px;
    margin: 8px 0 7px;
  }
  ul {
    margin: 0;
    padding-left: 20px;
  }
  li {
    list-style-type: none;
  }
  .views-field:nth-child(2) li:first-child {
    list-style-type: disc;
  }
  .view-footer {
    margin-top: .7em;
  }
}


/*** ART FAIRS ***/
.view-fairs {
  .make-row();
  .view-header {
    .make-sm-column(12);
  }
  .view-content {
    .make-sm-column(12);
  }
  .view-footer {
    .make-sm-column(12);
  }


  // Style header
  .view-header {
    border-bottom: 1px solid #e9e9e9;
  }
  h2 {
    margin: -4px 0 0;
    padding: 0 0 7px;

    text-transform: uppercase;
    font-size: 18px;
    color: #777;
  }

  // Place Logo on the left and text on the right
  .views-row {
    .make-row();
    .clearfix;
  }
  .views-field-field-logo {
    width: 150px;
    float: left;
  }
  .views-field-title,
  .views-field-field-fair-dates,
  .views-field-field-website {
    margin-left: 150px;
  }

  // Style rows
  .views-row {
    min-height: 130px;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px @grid-gutter-width / 2;
  }
  .views-field-title,
  .views-field-field-fair-dates {
    font-family: @font-family-serif;
    text-transform: uppercase;
  }
  .views-field-title {
    padding-top: 4px;
    font-size: 16px;
    line-height: 1.1;
  }
  .views-field-field-fair-dates {
    font-size: 13px;
  }
  .views-field-field-logo {
    img {
      .white-border();
    }
  }

  // Style footer
  .view-footer {
    padding-top: 20px;
    background: #f5f5f5;

    .views-field-field-logo {
      img {
        border: none;
      }
    }
  }
}


/*** FOOTER ***/
.footer {
  margin-top: 0;
  padding-top: 23px;
  margin-bottom: @grid-gutter-width / 2;
  line-height: 1.6em;
  font-size: @font-size-small;
  color: #888888;

  // Style User Menu
  #block-system-user-menu {
    .horizontal-menu(10px);
    text-align: right;
  }

  // Place the Address block on the left and the User Menu block on the right
  .region-footer {
    .make-row();
  }
  #block-block-1 {
    .make-sm-column(5);
    margin-bottom: @padding-large-vertical;
  }
  #block-system-user-menu {
    .make-sm-column(7);
  }
}
