// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';


/*** LAYOUT ***/
.top.container {
  height: 100vh;
  box-shadow: 0px 0px 25px rgba(225, 225, 225, 1);
  padding: 0;
  .navbar.container {
    max-width: none !important;
  }
}


/*** HEADER ***/
.navbar.container {
  margin-top: @padding-large-vertical;
}


/*** BRANDING AREA ***/
.navbar-header {

  // Position the navigation region in the top right corner
  @media (min-width: @grid-float-breakpoint) {
    float: none;
    position: relative;
    .region-navigation {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  // Place logo in the center
  text-align: center;
  .logo {
    padding: 0;
  }

  // Make the logo image responsive
  .logo img {
    max-width: 90%;
  }
}


/*** LANGUAGE SWITCHER BLOCK ***/
#block-locale-language ul {
  .horizontal-menu(.5em);
  margin-right: .5em;

  // Font style
  font-size: @font-size-small;
  text-transform: uppercase;

  // Style the selected link as a pill
  li {
    line-height: 2em;
    &.active {
      background: #a7adb3;
      border-radius: @border-radius-small;
      a {
        color: white;
      }
    }
  }
}


/*** MAIN NAVIGATION ***/
// Fix spacing and borders
.navbar-default {
  padding: 0;
  .navbar-collapse {
    margin-top: 25px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
}

// Font style & colours
.navbar-collapse {
  font-family: "adobe-garamond-pro", georgia, serif;
  text-transform: uppercase;
  font-size: 15px;
  li.active a,
  li:hover a {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .05);
  }
}


/*** FOOTER ***/
.footer {
  padding-top: 2 * @padding-large-vertical;
  font-size: @font-size-small;
  color: #888888;
}
