/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-serif: "freight-sans-pro" , Tahoma, Verdana, sans-serif;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    40px;
@navbar-margin-bottom:             0;

@navbar-default-bg:                transparent;

// Navbar links
@navbar-default-link-color:                #848c95;
@navbar-default-link-hover-bg:             #f6f7f8;
@navbar-default-link-active-color:         #333;
@navbar-default-link-active-bg:            #edeef0;

