/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
@text-color:            #909095;

//** Global textual link color.
@link-color:            #485d79;

@link-hover-color:      #445162;

@link-hover-decoration: none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif: "freight-sans-pro" , Tahoma, Verdana, sans-serif;
@font-family-serif:      "adobe-garamond-pro", georgia, serif;;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.8;

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-serif;
@headings-line-height:    1.3;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    40px;
@navbar-margin-bottom:             0;

@navbar-default-bg:                transparent;

// Navbar links
@navbar-default-link-color:                #848c95;
@navbar-default-link-hover-bg:             #f6f7f8;
@navbar-default-link-active-color:         #333;
@navbar-default-link-active-bg:            #edeef0;


//== Custom
//
//## Custom functions and vars

.simple-menu() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-menu(@horizontal-padding: 0) {
  .simple-menu();
  li {
    display: inline-block;
    padding: 0 @horizontal-padding;
    &:first-child {
      margin-left: -@horizontal-padding;
    }
    &:last-child {
      margin-right: -@horizontal-padding;
    }
  }
}
